

#homepage {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 130px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(86, 86, 255);
}
